/* app/globals.css */

/* Подключаем Tailwind v4 */
@import "tailwindcss";

/* Базовые глобальные стили */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;        /* чёрный фон */
  color: #e5e5e5;                   /* светлый текст */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
/* Тёмный скроллбар внутри модалки галереи */
/* Тёмный, но заметный скроллбар внутри модалки галереи */
.scroll-area {
  scrollbar-width: thin;
  scrollbar-color: #a1a1aa #000000; /* thumb, track */
}

.scroll-area::-webkit-scrollbar {
  width: 8px;
}

.scroll-area::-webkit-scrollbar-track {
  background: #000000; /* чёрный фон трека */
}

.scroll-area::-webkit-scrollbar-thumb {
  background-color: #a1a1aa; /* светло-серый бегунок, хорошо видно */
  border-radius: 9999px;
}
